form{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}

 .form-group{
    width: 30%;
}

.invalid-feedback{
        
    color: red;
}
h3{
     font-family: 'Bebas Neue', cursive;;
}